div
	{
		width : 500px;
		margin: auto;
			

		
	}
body
	{
		background-color: powderblue;
	}

blockquote	{
	border :2px solid grey;
	padding: 20px;
	text-align: center;



}

h2
	{
	  width: 500px;
	  margin: auto;
	}	

	